body
{
font-family:arial
}

.stimg
{
float:left;

}

.sttext
{
margin-left:70px;
font-size:12px;
line-height:18px;
min-height:50px;
word-wrap:break-word;
overflow:hidden;
padding:5px;
display:block;

}
.sttext strong{display:block}

.stdelete:hover
{
color:#333333;
}
.stupdatebox
{
width:560px;
padding:10px;

}
.stpostbutton
{
margin-bottom:20px;
}

#mainContent{width:600px;float:left}